@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - intlearn</title>

    
        <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
        <link type="text/css" href="~/materialize/css/materialize.min.css" rel="stylesheet">
        <link  href="~/css/icons.css" rel="stylesheet" type="text/css">
        @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
        
        @RenderSection("Styles", required: false)
    
    @RenderSection("Css", required: false)

</head>
<body>
    <header>

        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

    </header>




    <main class="main container body-content">

        @RenderBody()

    </main>
    <footer class="page-footer">
    </footer>


    <script type="text/javascript" src="~/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/init.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
